@tailwind base;
    @tailwind components;
    @tailwind utilities;
    .block {
      display: block !important;
    }
    .flex {
        display: flex !important;
    }
    .hidden-1 {
      display: none !important;
    }
    .center{
        display: flex !important;
        width: 100% !important;
        justify-content: center !important;
    }
    .overflow-hidden{
        overflow-y: hidden;
    }
    .width {
      z-index: 20 !important;
      width: 100% !important;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between !important;
      align-items: center !important;
      background-color: #141414 !important;
      padding: 2.5rem !important;
    }
    .img {
      width: 20rem !important;
      height: 20rem !important;
      position: static;
      border-radius: 0px !important;
    }